---
layout: page
title: Blog
permalink: /blog/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Get the latest info about python</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="home">
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
{% for post in site.posts %}
{% if post.categories contains 'blog' %}
<div class="post-area">
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <p>
    {{ post.content | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endif %}
{% endfor %}
        </div>
          </div>
        </div>
    </div>
</section>
</div>

